$backgroundColor: white;
$boxTextColor: #615c7c;
$textColor: #fff;
$darkTextColor: #615c7c;
$menuItemColor: #5af0bd;
$menuItemColorHover: #fff;
$aionBlue: #4221cc;
$activeFilter: #f3f3f3;

// new colors

$lightGray: #e5eced;
$darkGray: #818181;
$tableHeaderColor: $lightGray;
$menuBackground: $lightGray;
$cellTextColor: $darkGray;
$pageTitle: #445A5D;
$fontColor: #0e6d7e;
$activeMenuItem: #006e80;
$inactiveMenuItem: #7b7b7b;
$listItemColor: $darkGray;
$label: #626264;